@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define custom styles for the grid */
.grid-item {
  aspect-ratio: 1; /* Ensure square aspect ratio */
  min-width: 80px;
  max-width: 160px;
  min-height: 80px;
  max-height: 160px;
}

.card-font {
  font-size: calc(2rem + 6vw);
}

/* Apply responsive styles using @media queries */
@media (max-width: 640px) {
  .grid-item {
    width: calc((100vw - 4rem) / 4);
    height: calc((100vw - 4rem) / 4);
  }
}

@media (min-width: 640px) {
  .grid-item {
    width: 160px;
    height: 160px;
  }
}
